:root {
  // white shade
  --iwhite: #ffffff;

  // black shade
  --iblack: #000000;

  // blue shade
  --ibl1: #052c85;
  --ibl2: #9bacd2;
  --ibl3: #1246bc;
  --ibl4: #b4c2d4;
  --ibl5: #001e63;
  --ibl6: #003cc2;
  --ibl7: #d6e2ff;
  --ibl8: #06349c;
  --ibl9: #0e399c;
  --ibl10: #d8deff;
  --ibl11: #011bab;
  --ibl12: #e6eeff;
  --ibl13: #0e3a73;
  --ibl14: #11273e;
  --ibl15: #e2ebff;
  --ibl16: #294fa8;
  --ibl17: #bdcdde;
  --ibl18: #5c8cfa;
  --ibl19: #121f57;
  --ibl20: #03287b;
  --ibl21: #eaeff4;
  --ibl22: #03153f;
  --ibl23: #06349ccc;
  --ibl24: #e5edff;
  --ibl25: #d2e7ff;
  --ibl26: #baddff;
  --ibl27:#417BFC;
  --ibl28:#1358F2;
  --ibl29: #E2E8F0;
  --ibl30: #F0F7FF;
  --ibl31: #f2f3f5;
  --ibl32: #E6F2FF;
  --ibl33: #0085fe;

  // grey shade
  --igy1: #021526;
  --igy2: #000000;
  --igy3: #1c1b1f;
  --igy4: #545454;
  --igy5: #777777;
  --igy6: #a4a4a4;
  --igy7: #9e9494;
  --igy8: #8a8a8a;
  --igy10: #878787;
  --igy11: #455a64;
  --igy12:#D9D9D9;
  --igy13: #676565;
  --igy14: #ADADAD;
  --igy15: #2D3748;
  --igy16: #767676;
  --igy17: #424242;
  --igy18: #707070;

  // green shade
  --ign1: #089e61;
  --ign2: #13d284;
  --ign3: #80fcca;
  --ign4: #0fa266;
  --ign5: #d1f1e4;
  --ign6: #39b100;
  --ign7:#3C991B;

  // orange shade
  --ior1: #fb8762;
  --ior2: #ffede2;
  --ior3: #e97025;
  --ior4: #f48333;
  --ior5: #EA7525;

  // red shade
  --ird1: #f64242;
  --ird2: #fe4b5c;
  --ird3: #dc0000;
  --ird4: #fedfe2;
  --ird5: #fddee1;

  // purple Shade
  --ipr1: #f1c1f9;
  --ipr2: #c525e1;
}
