.stepsContainer {
  box-shadow: 0px 0px 4px 0px #0b51ee99;
  border-radius: 8px;
  width: 1144px;
  height: 212px;
}

.applicationContainer{
  box-shadow: 0px 0px 4px 0px #0b51ee99;
  border-radius: 8px;
  width: 1144px;
  height: 56px; 
}

.scroll {
    overflow-y: auto;
    // min-height: 780px;
    // max-height: 700px;
    @media (max-width: 1023px){
      min-height: initial;
      max-height: initial;
    }
  
    &::-webkit-scrollbar {
      width: 5px;
      border-radius: 5px;
    }
  
    /* Track */
    &::-webkit-scrollbar-track {
      background: #d8e2f0;
      border-radius: 10px;
      margin: 2px;
    }
  
    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: var(--ibl1);
      border-radius: 10px;
    }
  }